body {
  color: white;
  margin-bottom: 50px;
  font-family: "Tahoma";
  background-color: #36454f;
  font-size: large;
}


ul {
  display: flex;
  list-style-type: none;
  gap: 2em;
  justify-content: space-evenly;
  border: 2px solid black;
  background: white;
  width: 100%;
  border-radius: 0.3em;
  padding: 0.5em;
}

h1 {
  display: flex;
  list-style-type: none;
  justify-content: space-evenly;
  border: 2px solid black;
  background: white;
  padding: 1%;
  color: black;
  margin: 1%;
  border-radius: 0.2em;
}

h2 {
display: flex;
justify-content: space-evenly;
border: 2px solid black;
background: white;
color: black;
margin: 2%;
border-radius: 0.2em;
}

.achtergrondafbeelding {
  height: 70vh;
  background-image: url(/img/amsterdambovenaf.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 0.3em;
}

nav {
  display: flex;
  list-style-type: none;
  justify-content: space-evenly;
  width: 100%;
}

a {
  background: aqua;
  border-radius: 5%;
  text-decoration:none;
  border-radius: 0.2em;
}

a:hover {
  background: grey;
  transition: 1500ms;
  transform: translateY(-10px);
}

a:active {
  transform:translateY(150px) ;
  }


p {
  text-align: center;
  font-weight: lighter;
}

ol {
  display: flex;
  list-style-type: none;
  justify-content: space-evenly;
  margin-right: 38px;
}

.top3fotos{
border-radius: 1em;
box-shadow: black 5px 5px 25px;
display: flex;
list-style-type: none;
justify-content: space-evenly;
}

footer {
  background-color: white;
  color: gray;
  padding: 1%;
  border: 2px solid black;
  display: flex;
  justify-content: space-around;
  border-radius: 0.4em;
}

div {
  display: flex;
  list-style-type: none;
  justify-content: space-evenly;
}

.gegevens {
display:block;
list-style-type:circle;
color: black;
background-color: teal;
width: 80vh;
padding: 5vh;
}


.map{
  width: 80%;
  margin: 40px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.fotosvanmij{
border-radius: 1em;
box-shadow: black 5px 5px 25px;
display: flex;
list-style-type: none;
justify-content: space-evenly;
margin-bottom: 40px;
margin-top: 20px;
}